#last modified August 20, 2007 by William Revelle 
export(alpha.scale,
circ.tests,
circ.sim,
circ.simulation,
cluster.cor,
cluster.fit,
cluster.loadings,
cluster.plot,
correct.cor,
count.pairwise,
congeneric.sim,
describe,
describe.by,
eigen.loadings,
error.bars,
error.crosses,
fa.parallel,
fa.graph,
factor.congruence,
factor.fit,
factor.model,
factor.pa,
factor.residuals,
factor.rotate,
factor2cluster,
fisherz,
geometric.mean,
harmonic.mean,
ICLUST,
ICLUST.cluster,
ICLUST.graph,
ICLUST.rgraph,
ICLUST.sort,
irt.0p,
irt.1p,
irt.2p,
irt.discrim,
irt.item.diff.rasch,
irt.person.rasch,
item.dichot,
item.sim,
kurtosi,
make.hierarchical,
mat.regress,
"%+%",
multi.hist,
omega,
omega.graph,
paired.r,
pairs.panels,
phi,
phi2poly,
polar,
poly.mat,
polychor.matrix,
p.rep,
p.rep.f,
p.rep.r,
p.rep.t,
principal,
psych,
psycho.demo,
read.clipboard,
read.clipboard.csv,
schmid,
score.alpha,
score.items,
score.multiple.choice,
test.psych,
skew,
VSS.parallel,
VSS.plot,
VSS,
VSS.scree,
VSS.simulate)