#last modified December 10, 2007 by William Revelle 
export(alpha.scale,
circ.tests,
circ.sim,
circ.sim.plot,
circ.simulation,
cluster.cor,
cluster.fit,
cluster.loadings,
cluster.plot,
correct.cor,
count.pairwise,
congeneric.sim,
describe,
describe.by,
eigen.loadings,
ellipses,
error.bars,
error.bars.by,
error.crosses,
fa.parallel,
fa.graph,
factor.congruence,
factor.fit,
factor.model,
factor.pa,
factor.residuals,
factor.rotate,
factor2cluster,
fisherz,
fisherz2r,
geometric.mean,
harmonic.mean,
headtail,
ICLUST,
ICLUST.cluster,
ICLUST.graph,
ICLUST.rgraph,
ICLUST.sort,
interp.median,
interp.quantiles,
interp.q,
interp.quart,
interp.quartiles,
interp.values,
interp.boxplot,
interp.qplot.by,
irt.0p,
irt.1p,
irt.2p,
irt.discrim,
irt.item.diff.rasch,
irt.person.rasch,
item.dichot,
item.sim,
kurtosi,
make.hierarchical,
mat.regress,
"%+%",
multi.hist,
omega,
omega.graph,
paired.r,
pairs.panels,
panel.lm,
panel.hist.density,
panel.hist,
panel.cor,
panel.cor.scale,
phi,
phi2poly,
phi2poly.matrix,
polar,
poly.mat,
p.rep,
p.rep.f,
p.rep.r,
p.rep.t,
principal,
psych,
phi.demo,
read.clipboard,
read.clipboard.csv,
rescale,
r.con,
r.test,
r2t,
schmid,
score.alpha,
score.items,
score.multiple.choice,
table2df,
table2matrix,
test.psych,
skew,
VSS.parallel,
VSS.plot,
VSS,
VSS.scree,
VSS.simulate,
Yule,
Yule.inv,
Yule2phi,
Yule2phi.matrix,
Yule2poly,
Yule2poly.matrix,
winsor)