#last modified December 21, 2010  by William Revelle 
export(alpha,
biplot.psych,
bi.bars,
biserial,
block.random,
circ.tests,
circ.sim,
circ.sim.plot,
circ.simulation,
circadian.cor,
circadian.linear.cor,
circadian.mean,
cluster.cor,
cluster.fit,
cluster.loadings,
cluster.plot,
cluster2keys,
cohen.kappa,
correct.cor,
cor.plot,
corr.test,
cortest,
cortest.bartlett,
cortest.jennrich,
cortest.mat,
cortest.normal,
count.pairwise,
comorbidity,
cosinor,
congeneric.sim,
cta,
describe,
describe.by,
diagram,
dia.shape,
dia.rect,
dia.ellipse,
dia.ellipse1,
dia.triangle,
dia.arrow,
dia.curve,
dia.curved.arrow,
dia.self,
draw.tetra,
eigen.loadings,
ellipses,
error.bars,
error.bars.by,
error.crosses,
fa,
fa.extension,
fa.parallel,
fa.graph,
fa.diagram,
fa.sort,
factor.congruence,
factor.fit,
factor.model,
factor.pa,
factor.minres,
factor.wls,
factor.plot,
factor.residuals,
factor.rotate,
factor.scores,
factor.stats,
factor2cluster,
fisherz,
fisherz2r,
geometric.mean,
harmonic.mean,
headtail,
ICC,
iclust,
ICLUST,
ICLUST.cluster,
iclust.diagram,
ICLUST.graph,
ICLUST.rgraph,
ICLUST.sort,
interp.median,
interp.quantiles,
interp.q,
interp.quart,
interp.quartiles,
interp.values,
interp.boxplot,
interp.qplot.by,
irt.fa,
irt.select,
irt.0p,
irt.1p,
irt.2p,
irt.discrim,
irt.item.diff.rasch,
irt.person.rasch,
item.dichot,
item.sim,
glb,
glb.algebraic,
glb.fa,
guttman,
wkappa,
kurtosi,
lavaan.diagram,
logit,
logistic,
logistic.grm,
make.congeneric,
make.hierarchical,
make.structural,
make.keys,
mardia,
mat.regress,
mat.sort,
"%+%",
minkowski,
mixed.cor,
multi.hist,
omega,
omega.diagram,
omega.graph,
omegaSem,
omegaFromSem,
paired.r,
pairs.panels,
panel.lm,
panel.cor,
panel.cor.scale,
partial.r,
phi,
phi2poly,
phi2poly.matrix,
plot.psych,
plot.irt,
plot.poly,
polar,
polychoric,
polyserial,
poly.mat,
p.rep,
p.rep.f,
p.rep.r,
p.rep.t,
predict.psych,
principal,
print.psych,
Promax,
psych,
phi.demo,
phi.list,
read.clipboard,
read.clipboard.csv,
read.clipboard.fwf,
read.clipboard.tab,
read.clipboard.lower,
read.clipboard.upper,
rescale,
response.frequencies,
reverse.code,
r.con,
r.test,
r2t,
scaling.fits,
scatter.hist,
score.alpha,
score.items,
score.multiple.choice,
scree,
schmid,
scrub,
SD,
sim,
sim.anova,
sim.circ,
simulation.circ,
sim.congeneric,
sim.dichot,
sim.item,
sim.minor,
sim.omega,
sim.parallel,
sim.rasch,
sim.irt,
sim.npl,
sim.npn,
sim.simplex,
sim.structure,
sim.structural,
sim.hierarchical,
sim.VSS,
smc,
summary.psych,
super.matrix,
structure.diagram,
structure.graph,
structure.list,
structure.sem,
table2df,
table2matrix,
target.rot,
test.psych,
tenberge,
tetrachoric,
thurstone,
tr,
skew,
VSS.parallel,
VSS.plot,
vss,
VSS,
VSS.scree,
VSS.sim,
VSS.simulate,
Yule,
Yule.inv,
Yule2phi,
Yule2phi.matrix,
Yule2poly,
Yule2poly.matrix,
winsor,
winsor.means,
winsor.mean,
winsor.sd,
winsor.var)